.available-points-div {
  position: absolute;
  top: 605.84px;
  left: 140px;
  font-size: 40px;
  
  border: 1px solid #000;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  padding: 10px;
  
  background-color: rgba(220, 217, 217, 0.44);
  
  width: 341.5px;
  height: 74.58px;
}
