.lp-name-mem-div {

  
  font-size: 48px;
  background-color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  
  position: absolute;
  top: 435.44px;
  left: 1046.84px;
  
  width: 576.17px;
  height: 97.78px;
  
  
  
  
}
