.remaining-points-div {
  position: absolute;
  top: 605.84px;
  left: 1045.69px;
  font-size: 40px;
  margin: auto;
  border: 1px solid #000;
  box-sizing: border-box;

  text-align: center;
  padding: 10px;

  width: 341.5px;
  background-color: rgba(220, 217, 217, 0.44);
  
  height: 74.58px;
}
