
.scontainer1{
  font-family: Alegreya;

  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 70px;

  font-size: 20px;
  width: "lg";
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
  grid-gap: 5px;
}

.sgridcontainer{
  direction: "row";

  justify-content: "center";

  align-items: "stretch";
  border-spacing: 2px;


}

.scard1{
  margin-bottom: 40px;
  justify-content: center;
  text-align: center;
  padding: 3px;
  width: 500px;
  border-radius: 5px;

}

.sbox1{
  margin-top: 20px;

  font-size: 20px;
  font-family: Alegreya;
  justify-content: "center";

}

.success-button{
  cursor: pointer;
  padding: 0;
  font-size: 20px;
  background-color: #e9f8f8;
  color:rgb(69, 19, 198);
  width:200px;
  height:50px;
  border-color: #e9f8f8;



}
.ellipse-icon{
  mix-blend-mode: multiply;
}