
.back-button2,
.transactions-page-div1 {
  text-align: center;
  font-family: Abhaya Libre;
}
.back-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 150px;
  left: 5px;
  font-size: 40px;
  color: #fff;
  display: inline-block;
  width: 134px;
  height: 56px;
}
.transactions-page-div1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1089px;
  overflow: hidden;
  font-size: 48px;
  color: #000;
}
.bg{
  top:0px;
  height:1500px;
  position: absolute;
  width: 100%;
  z-index: -10;
  background-size: cover;
}
.container-tp{
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
  
  
}
.cardtp {
  margin-top: 10px;
  margin-bottom:10px;
  margin-left: 20px;


  justify-content: center;
  padding: 10px;

  
  border-radius: 5px;
  padding: 1em;
  background-color: rgb(175, 213, 228);
  font-family: Alegreya SC;
  border-color: rgb(13, 3, 38);
  box-shadow: #1e4e64b3 0px 2px 8px 0px;
 
}
.memcontainer1 {
 
  font-family: Alegreya;

  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 70px;

  font-size: 40px;
  width: "lg";
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 100px);
  grid-gap: 3px;

}

.memcard1 {
  margin-bottom: 10px;
  font-size:40px;

  top: 100px;
  justify-content: center;
  text-align: center;
  padding: 1em;
  width: 600px;
  border-radius: 5px;

}

.gricontainer-tp{

  font-size: 30px;

  direction: "row";

  justify-content: "center";

  align-items: "stretch";
  border-spacing: 2px;

}
