.background-memberpage-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 116px;
  object-fit: cover;
}
.loyalty-partner-interface1 {
  position: absolute;
  top: calc(50% - 415px);
  left: calc(50% - 747px);
  display: inline-block;
  width: 405px;
  height: 40px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.back-button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 9px;
  font-size: 32px;
  font-family: Abhaya Libre;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 83px;
  height: 27px;
}
.welcome-lp-div {
  position: absolute;
  top: 234px;
  left: 173px;
  font-size: 40px;
  color: #000;
  display: flex;
  align-items: center;
  width: 329px;
  height: 48px;
}
.gojet-rect-icon5 {
  position: absolute;
  top: 336px;
  left: 173px;
  border-radius: 20px;
  width: 657px;
  height: 67px;
  cursor: pointer;
}
.view-active-programs {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 346px;
  left: 237px;
  font-size: 40px;
  font-family: Abhaya Libre;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 529px;
  height: 48px;
}
.gojet-rect-icon6 {
  position: absolute;
  top: 448px;
  left: 173px;
  border-radius: 20px;
  width: 657px;
  height: 67px;
  cursor: pointer;
}
.add-new-program {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 458px;
  left: 237px;
  font-size: 40px;
  font-family: Abhaya Libre;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 529px;
  height: 48px;
}
.gojet-rect-icon7 {
  position: absolute;
  top: 560px;
  left: 173px;
  border-radius: 20px;
  width: 657px;
  height: 67px;
}
.remove-existing-program {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 570px;
  left: 175px;
  font-size: 40px;
  font-family: Abhaya Libre;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 653px;
  height: 48px;
}
.gojet-rect-icon8 {
  position: absolute;
  top: 672px;
  left: 172px;
  border-radius: 20px;
  width: 656px;
  height: 67px;
  cursor: pointer;
}
.view-accrual-files {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 682px;
  left: 173px;
  font-size: 40px;
  font-family: Abhaya Libre;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 654px;
  height: 48px;
}
.gojet-rect-icon9 {
  position: absolute;
  top: 784px;
  left: 175px;
  border-radius: 20px;
  width: 656px;
  height: 67px;
  cursor: pointer;
}
.view-handback-files {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 794px;
  left: 176px;
  font-size: 40px;
  font-family: Abhaya Libre;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 654px;
  height: 48px;
}
.lp-functions-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  color: #4ab2d3;
  font-family: Abhaya Libre;
}
