.background-homepage-icon {
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
  height: 167px;
  object-fit: cover;
}
.transfer-rewards-div {
  position: absolute;
  top: calc(50% - 59.19px - 615.31px);
 /* left: calc(50% - 285.56px - 1037.94px);*/
  left: 50px;
  color: #4ab2d3;
  display: inline-block;
  width: 571.11px;
  height: 118.38px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.transactions-page-div {
  position: absolute;
  top: 374.59px;
 /* left: 2074.04px;*/
  right: 100px;
  font-size: 36px;
  color: #3184b2;
  display: inline-block;
  width: 290.07px;
  height: 40.02px;
  cursor: pointer;
}
.container-rewards-div {
  position: absolute;
  top: 539px;
  left: 163px;
  border-radius: 20px;
  background-color: #8ec6da;
  width: 598.52px;
  height: 475px;
}
.abc-bank-div,
.transfer-your-rewards {
  position: absolute;
  display: inline-block;
}
.transfer-your-rewards {
  top: 653px;
  
  font-size: 40px;
  width: 892px;
  height: 76px;
  left: 928px;
}
.abc-bank-div {
  top: 415.23px;
  left:114.77px;
  width: 368.83px;
  height: 92.22px;
}
.abcbank-header-div,
.use-your-miles-for-the-things {
  
  top: 0;
  left: 818.41px;
  position: absolute;
  display: inline-block;
  width: 748.15px;
  height: 139.19px;
}

.abcbank-header-div {
  top: 30px;
  width: 892px;
  height: 76px;
  left: 928px;;
  font-size: 40px;

}
.use-your-miles-for-the-things {
  top: 777.45px;
  left: 1172.28px;
  font-size: 32px;
  width: 412.62px;
  height: 125.45px;
}
.transfer-logo-1-icon {
  position: absolute;
  top: 487.28px;
  left: 1266.13px;
  width: 200.63px;
  height: 176.15px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.view-loyalty-programs {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 902.91px;
  left: 1181.85px;
  font-size: 36px;
  font-weight: 500;
  font-family: Alegreya;
  color: #1f285d;
  text-align: center;
  display: inline-block;
  width: 394.86px;
  height: 56.54px;
}
.homepage-picture-icon {
  position: absolute;
  top: 1174.26px;
  left: 0;
  width: 100%;
  height: 620px;
  object-fit: cover;
}
.customer-engagement-made-simp {
  position: absolute;
  top: 1361.4px;
  
  left: 500px;
  font-size: 40px;
  font-weight: 800;
  font-family: Alegreya;
  color: #74bcbc;
  
  display:flex;
  align-items: center;
  justify-content: center;
  width: 1660px;
  height: 85px;
}
.rewards-div {
  position: absolute;
  top: 863px;
  left: 268px;
  display: inline-block;
  width: 388px;
  height: 77px;
}
.homepage-div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1795px;
  overflow: hidden;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Abhaya Libre;
}
@media screen and (max-width: 1200px) {
  .container-rewards-div {
    background-color: #a2e5e7;
    opacity: 0;
  }
  .container-rewards-div.animate {
    animation: 1s ease 0s 1 normal forwards slit-in-vertical;
  }
  @keyframes slit-in-vertical {
    0% {
      transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    to {
      transform: translateZ(0) rotateY(0);
    }
  }
}
